repos:
- repo: local
  hooks:
  - id: black
    name: black
    entry: poetry run black
    language: system
    types: [python]
  - id: isort
    name: isort
    entry: poetry run isort
    language: system
    types: [python]
  - id: pylint
    name: pylint
    entry: poetry run pylint
    language: system
    types: [python]
  - id: mypy
    name: mypy
    entry: poetry run mypy --ignore-missing-imports .
    language: system
    types: [python]
    pass_filenames: false
  - id: pydocstyle
    name: pydocstyle
    entry: poetry run pydocstyle
    language: system
    types: [python]
  - id: commitlint
    name: lint commit message
    language: system
    entry: "commitlint -x=@commitlint/config-conventional -e"
    always_run: true
    stages: [commit-msg]
  - id: test
    name: run unittests
    language: system
    entry: poetry run python -m unittest
    always_run: true
    pass_filenames: false
  - id: docs
    name: build docs with sphinx
    language: system
    types: [python]
    include: docs/make.sh
    exclude: tests/*.py
    entry: poetry run docs/make.sh
    pass_filenames: false
